{% extends 'base.html.twig' %}

{% block body %}
<div id="smashtube-content">

	<!-- TODO: Remove hardcoded shit -->
	<div id="smashtube-explore" class="smashtube-content-group" data-shown="1">
		<div class="smashtube-content-container">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="fa fa-fw fa-sun-o"></span> Neue Filme und Serien
					</h3>
				</div>
				<div class="panel-body">
					<div class="row">

						<div class="col-md-3">
							<div class="thumbnail">
								<img src="http://lorempixel.com/400/200">
								<div class="caption">
									<h3>Smashtube: Der Film</h3>
									<p>Der Film der Filme, welcher den ultimativen Film bietet</p>
								</div>
							</div>
						</div>

						<div class="col-md-3">
							<div class="thumbnail">
								<img src="http://lorempixel.com/400/200">
								<div class="caption">
									<h3>Smashtube: Der Film</h3>
									<p>Der Film der Filme, welcher den ultimativen Film bietet</p>
								</div>
							</div>
						</div>

						<div class="col-md-3">
							<div class="thumbnail">
								<img src="http://lorempixel.com/400/200">
								<div class="caption">
									<h3>Smashtube: Der Film</h3>
									<p>Der Film der Filme, welcher den ultimativen Film bietet</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="smashtube-content-container">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="fa fa-fw fa-history"></span> Direkt zurück ins Geschehen
					</h3>
				</div>
				<div class="panel-body">
					<div class="col-md-3">
						<div class="thumbnail">
							<img src="http://lorempixel.com/400/200">
							<div class="caption">
								<h3>Smashtube: Der Film</h3>
								<p>Der Film der Filme, welcher den ultimativen Film bietet</p>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="thumbnail">
							<img src="http://lorempixel.com/400/200">
							<div class="caption">
								<h3>Smashtube: Der Film</h3>
								<p>Der Film der Filme, welcher den ultimativen Film bietet</p>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>

		<div class="smashtube-content-container">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="fa fa-fw fa-user-circle"></span> Passende Vorschläge
					</h3>
				</div>
				<div class="panel-body">
					<div class="col-md-3">
						<div class="thumbnail">
							<img src="http://lorempixel.com/400/200">
							<div class="caption">
								<h3>Smashtube: Der Film</h3>
								<p>Der Film der Filme, welcher den ultimativen Film bietet</p>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="thumbnail">
							<img src="http://lorempixel.com/400/200">
							<div class="caption">
								<h3>Smashtube: Der Film</h3>
								<p>Der Film der Filme, welcher den ultimativen Film bietet</p>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="thumbnail">
							<img src="http://lorempixel.com/400/200">
							<div class="caption">
								<h3>Smashtube: Der Film</h3>
								<p>Der Film der Filme, welcher den ultimativen Film bietet</p>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="thumbnail">
							<img src="http://lorempixel.com/400/200">
							<div class="caption">
								<h3>Smashtube: Der Film</h3>
								<p>Der Film der Filme, welcher den ultimativen Film bietet</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="smashtube-content-container">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="fa fa-fw fa-list"></span> Aus der Merkliste
					</h3>
				</div>
				<div class="panel-body">
					<div class="col-md-3">
						<div class="thumbnail">
							<img src="http://lorempixel.com/400/200">
							<div class="caption">
								<h3>Smashtube: Der Film</h3>
								<p>Der Film der Filme, welcher den ultimativen Film bietet</p>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="thumbnail">
							<img src="http://lorempixel.com/400/200">
							<div class="caption">
								<h3>Smashtube: Der Film</h3>
								<p>Der Film der Filme, welcher den ultimativen Film bietet</p>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
