<div class="modal fade" id="smashtube-webplayer" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-fullscreen" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span class="fa-2x" aria-hidden="true">&times;</span>
				</button>
				<h4><span class="fa fa-fw fa-play"></span> <label>Monster Hunter: World</label> - PSX 2017 - Third Fleet Trailer</h4>
			</div>

			<div class="modal-body">
				<div class="videocontent">
					<video id="smashtube-player-video" preload="auto" style="width:100%;height:100%;" controls="controls" width="100%" height="100%">
						<source src="/demo/video-demo-2.mp4" type='video/mp4'/>
					</video>
				</div>
			</div>
		</div>
	</div>
</div>