<div class="modal fade" id="smashtube-reset" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4>Passwort zurücksetzen</h4>
			</div>

			<div class="modal-body">
				<form id="smashtube-reset-password">
					<div class="row">
						<div class="form-group">
							<label class="col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1" style="line-height: 34px; text-align: right;">Benutzername:</label>
							<div class="input-group col-md-7 col-sm-11">
								<span class="input-group-addon">
									<span class="fa fa-fw fa-users"></span>
								</span>
								<input type="text" class="form-control" name="_username" id="smashtube-reset-username" placeholder="Benutzername">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1" style="text-align: right; line-height:34px;">Sicherheitsfrage:</label>
							<div class="input-group col-md-7 col-sm-11">
								<span class="input-group-addon">
									<span class="fa fa-fw fa-book"></span>
								</span>
								<select class="selectpicker form-control" data-live-search="true"  name="question" title="Bitte wählen..." id="smashtube-reset-securequestion-select">
									<option value="1">Testfrage uno</option>
									<option value="2">Testfrage dos</option>
									<option value="3">Testfrage tres</option>
								</select>
							</div>          
						</div>

						<div class="form-group">
							<label class="col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1" style="text-align: right; line-height:34px;">Antwort:</label>
							<div class="input-group col-md-7 col-sm-11">
								<span class="input-group-addon">
									<span class="fa fa-fw fa-font"></span>
								</span>
								<input type="text" class="form-control" name="answer" placeholder="Antwort" id="smashtube-reset-securequestion-answer">
							</div>
						</div>

						<hr/>

						<div class="form-group">
							<label class="col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1" style="text-align: right; line-height:34px;">Neues Passwort:</label>
							<div class="input-group col-md-7 col-sm-11">
								<span class="input-group-addon">
									<span class="fa fa-fw fa-lock"></span>
								</span>
								<input type="password" class="form-control" name="new-password" placeholder="Neues Passwort" id="smashtube-reset-new-password">
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1" style="text-align: right; line-height:34px;"></label>
							<div class="input-group col-md-7 col-sm-11">
								<span class="input-group-addon">
									<span class="fa fa-fw fa-lock"></span>
								</span>
								<input type="password" class="form-control" name="new-password-repeat" placeholder="Neues Passwort wiederholen" id="smashtube-reset-new-password-repeat">
							</div>
						</div>
					</div>


				</form>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
					<button id="smashtube-reset-submit" type="button" class="btn btn-primary">Zurücksetzen</button>
				</div>

			</div>
		</div>
	</div>
</div>